<div class="w-4/5 mx-auto">
  <p class="mt-14 mb-10 font-extrabold text-black text-center text-3xl">
    About Me
  </p>
  <div id="about" class="mx-auto">
    <img src="../../../assets/images/code 2.png" class="float-right" alt="" />
    <p class="text-left m-5">
      Behold, the artwork by your side—captivating, isn't it? Allow me to
      introduce myself, a visionary who not only comprehends the intricate
      language of code but also possesses the ability to breathe life into it.
      With profound expertise as a seasoned software engineer, I can
      meticulously maintain your existing codebase or craft one from the depths
      of imagination. Embarking on an exhilarating journey after my graduation,
      I ventured into the realm of web and mobile development. Initially
      captivated by the allure of mobile applications, I swiftly transitioned
      into the world of web development, mastering both domains along the way.
      However, my skills extend beyond the realms of coding—I possess a flair
      for design that seamlessly complements my technical prowess. <br /><br />
      Nurtured since childhood, my artistic inclinations began to blossom with
      whimsical and ingenious designs. As I traversed the path of higher
      education, I discovered an entirely new realm of artistic expression
      through Arabic poetry. The enchanting realm of poetic composition allows
      me to find solace, to clear my mind, and to cultivate unwavering focus
      within my professional endeavors. Now, as a multifaceted creative force, I
      combine my technical expertise, design finesse, and poetic soul to deliver
      captivating digital experiences. Let my passion and ingenuity bring your
      wildest visions to life, merging artistry and functionality in perfect
      harmony. Together, we will embark on an extraordinary journey that
      transcends the boundaries of conventional creation.
    </p>
  </div>
  <div class="mt-5 items-center flex flex-col">
    <p class="text-center mt-5 text-black font-extrabold">
      Join me on my social medias
    </p>

    <div class="flex items-center place-self-center justify-around w-1/4 mt-3">
      <a href="https://github.com/J-SFOX" target="_blank"
        ><img class="w-12 h-12" src="../../../assets/icons/github.svg" alt=""
      /></a>
      <a href="https://www.linkedin.com/in/jemmal-soufiane/" target="_blank">
        <img class="w-12 h-12" src="../../../assets/icons/linkedIn.svg" alt=""
      /></a>
      <a href="https://www.instagram.com/soufiane_jem/" target="_blank">
        <img class="w-12 h-12" src="../../../assets/icons/insta.svg" alt=""
      /></a>
    </div>
  </div>
</div>
