<nav
  class="w-1/12 h-screen fixed left-0 bottom-0 top-0 flex flex-col border justify-between"
>
  <div class="border mx-auto h-1/6">Logo here</div>
  <div
    class="flex flex-col h-3/6 border text-center justify-between w-5/6 mx-auto"
  >
    <span class="">Home </span>
    <span class="">About Me</span>
    <span class="">Projects</span>
    <span class="">reviews</span>
    <span class="">Blogs</span>
  </div>
  <div class="h-1/6 flex flex-col justify-center">
    <div class="-rotate-90 w-fit align-middle mx-auto border text-sm">
      &copy; JSFOX
    </div>
  </div>
</nav>
